name: enterprise workflow

on:
  push:
    branches:
      main
  workflow_dispatch:
    inputs:
      name:
        description: 'Enter your name'
        type: string
        default: "people!"
        required: true

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - run: echo "setting up"
  
  build:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - run: echo "runs AFTER setup, echoes Building..."

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "runs AFTER build, echoes Testing..."