name: enterprise workflow

on:
  push:
    branches:
      main
  workflow_dispatch:
    inputs:
      name:
        description: 'Enter your name'
        type: string
        default: "people!"
        required: true

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "hello from ${{ inputs.name }}!"